# Core dependencies
pandas==1.5.2
numpy==1.23.5

# Web scraping
selenium==4.15.2
selenium-stealth==1.0.6
undetected-chromedriver==3.5.3
webdriver-manager==4.0.1

# Development tools
black==22.12.0
flake8==6.0.0
isort==5.11.4
pytest==7.2.0